html{
	/*height: 100%;*/
	border:solid 0px blue;
}

body{
	/*height: 100%;*/
	background-color: #ccc;
	border: solid 0px green;
}

#container{
	border: solid 0px red;
	margin-right: 5px;
}
#socialBar{
	height: 100%;
	width: 25%;
	background-color: #ADB9D3;
	position: fixed;
	border: solid 0px black;
	float: left;
}
.socialElement{
	height: 50%;
	border: solid 0px orange;
	text-align: center;
	line-height: 300px;
}

#main{
	height: 100%;
	width: 75%;
	border: solid 0px purple;
	float: right;
}
#banner{
	height: 110px;
}

#nav{
	height:25px;
	border: solid 2px #555;
	background-color: #aaa;
}
.navElement{
	width: 33%;
	float: right;
	text-align: center;
	line-height: 25px;
}
#contentPane{
	padding-left: 15px;
	float: left;
	width: 100%;
	height: 100%;
	border: solid 0px red;
}

#column1{
	width: 32%;
	border: solid 0px orange;
	float: left;
	padding-left: 5px;
}

.pictureBox{
	width: 220px;
	height: 300px;
	float: left;
	border: solid 0px green;
}
.galleryImage{
	margin-left: 10px;
	margin-right: 10px;
}
.galleryTitle{
	text-align: center;
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 20pt;
	line-height: 17pt;

}
.price{
	vertical-align: text-bottom;
	text-align: center;
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: 15pt;
	line-height: 0pt;
}
#footer{
	height: 25px;
	background-color: #aaa;
	text-align: center;
	line-height: 25px;
	border: solid 2px #555;
	clear: both;
}




